<h1>Pirate</h1>
<h1>Name: <%=@pirates[0].name%></h1>
<h1>Weight: <%=@pirates[0].weight%></h1>
<h1>Height: <%=@pirates[0].height%></h1>

<% @ships.each_with_index do |ship,index| %>
  <h2>Ship <%=index%></h2>
  <h2>Ship Name:<%=ship.name %></h2>
  <h2>Ship Type:<%=ship.type %></h2>
  <h2>Ship Booty:<%=ship.booty %></h2>
<% end %>
